.zyre-addon-author-box .zyre-author-box.zy-grid {
	grid-template-columns: repeat(1, min-content) auto;
    grid-template-rows: auto;
}

.zyre-addon-author-box .zyre-author-box.zy-grid > * {
	grid-column-end: auto;
}

.zyre-addon-author-box .zyre-author-img,
.zyre-addon-author-box .zyre-author-name,
.zyre-addon-author-box .zyre-author-post-link {
	transition: var(--zy-transition);	
}