.zyre-addon-author-box .zyre-author-box {
	--grid-columns: 10
}

.zyre-addon-author-box .zyre-author-box.zy-grid {
	grid-template-columns: repeat(var(--grid-columns), 1fr);
	grid-template-rows: auto;
}

.zyre-addon-author-box .zyre-author-img,
.zyre-addon-author-box .zyre-author-name,
.zyre-addon-author-box .zyre-author-post-link {
	transition: var(--zy-transition);	
}