# Ignore git-related files
.git

# Master branch only: ignore the files below
.gitignore
composer.json
gulpfile.js
package.json

# Ignore Node and Composer dependencies
node_modules/
vendor/composer/
vendor/autoload.php

# Ignore build and config files
.php-cs-fixer.dist.php
composer.lock
**/package-lock.json
phpcs.xml.dist
readme.md
/src

# Ignore OS/editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
