@font-face {
	font-family: "ZyreFontIconBold";
	src: url("fonts/ZyreFontIcon-Bold.woff2") format("woff2"),
		url("fonts/ZyreFontIcon-Bold.woff") format("woff"),
		url("fonts/ZyreFontIcon-Bold.svg#zyre-icons") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.zy-fonticon-b {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'ZyreFontIconBold' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	font-feature-settings: "liga";
	-webkit-font-variant-ligatures: discretionary-ligatures;
	font-variant-ligatures: discretionary-ligatures;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}