.zyre-addon-logo-grid .zyre-logo-grid-content {
	--transition-duration: var(--zy-transition-duration);
}

.zyre-addon-logo-grid .zyre-logo-grid-content,
.zyre-addon-logo-grid .zyre-logo-grid-img-wrap,
.zyre-addon-logo-grid .zyre-logo-grid-content img {
	transition: all var(--transition-duration);
}

.zyre-addon-logo-grid .zyre-logo-grid-content img {
	object-fit: cover;
}

.zyre-addon-logo-grid .zyre-logo-grid-content:hover {
	z-index: 1;
}