.zyre-addon-heading .zyre-headings > * {
	width: 100%;
}

.zyre-addon-heading .zyre-heading-description {
	gap: 50px;
}

.zyre-addon-heading .zyre-heading-description.has--separator::before,
.zyre-addon-heading .zyre-heading-subtitle.has--separator::before {
    content: '';
	flex-shrink: 0;
}

.zyre-addon.zyre-addon-heading-subtitle-separator-position--right .zyre-heading-subtitle,
.zyre-addon.zyre-addon-heading-description-separator-position--right .zyre-heading-description{
	justify-content: flex-end;
}

.zyre-addon.zyre-addon-heading-subtitle-separator-position--left .zyre-heading-subtitle,
.zyre-addon.zyre-addon-heading-description-separator-position--left .zyre-heading-description{
	justify-content: flex-start;
}