.zyre-addon-feature-list .zyre-feature-list-items {
	display: grid;
	list-style: none;
	margin: 0;
}

.zyre-addon-feature-list .zyre-feature-list-item {
	--divider-weight: 0px;
	--divider-style: 'solid';
	--right: 0px;
	--bottom: 0px;
	transition: background var(--zy-transition-duration);
}

.zyre-addon-feature-list .zyre-feature-list-item,
.zyre-addon-feature-list .zyre-feature-list-item-link {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
}

.zyre-feature-list-divider--yes .zyre-feature-list-item::after {
	content: '';
	position: absolute;
	z-index: 1;
}

.zyre-addon-list-feature .zyre-feature-list-item:not(.zyre-feature-list-item--content-bottom) > *,
.zyre-addon-list-feature .zyre-feature-list-item:not(.zyre-feature-list-item--content-bottom) .zyre-feature-list-item-link > * {
	align-self: stretch;
	align-items: center;
}

.zyre-addon-feature-list .zyre-feature-list-item-title,
.zyre-addon-feature-list .zyre-feature-list-item-text {
	margin: 0;
	transition: color var(--zy-transition-duration);
	font-family: inherit;
}

.zyre-addon-feature-list:not(.zyre-feature-list-caption-display--normal) .zyre-feature-list-item-type-wrapper {
	display: inline-flex;
}

.zyre-addon-feature-list .zyre-feature-list-item-type-wrapper {
	text-align: center;
	transition: background var(--zy-transition-duration);
}

.zyre-addon-feature-list .zyre-feature-list-items .zyre-feature-list-item-image {
	width: 50%;
}

.zyre-addon-feature-list .zyre-feature-list-item-image img {
	object-fit: cover;
	transition: all var(--zy-transition-duration);
}

.zyre-addon-feature-list .zyre-feature-list-item-icon i {
	transition: color var(--zy-transition-duration);
}

.zyre-addon-feature-list .zyre-feature-list-item-icon svg {
	transition: fill var(--zy-transition-duration);
}

/* Divider */
@media (min-width: 1025px) {
	.zyre-feature-list-divider--yes.zyre-feature-list--col-1 .zyre-feature-list-item:not(:last-child)::after {
		border-top-style: var(--divider-style);
		border-top-width: var(--divider-weight);
		width: 100%;
		bottom: calc(var(--bottom) - calc(var(--divider-weight) / 2));
		left: 0;
	}

	.zyre-feature-list-divider--yes.zyre-feature-list--col-2 .zyre-feature-list-item:not(:nth-child(2n))::after,
	.zyre-feature-list-divider--yes.zyre-feature-list--col-3 .zyre-feature-list-item:not(:nth-child(3n))::after,
	.zyre-feature-list-divider--yes.zyre-feature-list--col-4 .zyre-feature-list-item:not(:nth-child(4n))::after,
	.zyre-feature-list-divider--yes.zyre-feature-list--col-5 .zyre-feature-list-item:not(:nth-child(5n))::after,
	.zyre-feature-list-divider--yes.zyre-feature-list--col-6 .zyre-feature-list-item:not(:nth-child(6n))::after {
		border-left-style: var(--divider-style);
		border-left-width: var(--divider-weight);
		height: 100%;
		bottom: 0;
	}

	body:not(.rtl) .zyre-feature-list-divider--yes.zyre-feature-list--col-2 .zyre-feature-list-item:not(:nth-child(2n))::after,
	body:not(.rtl) .zyre-feature-list-divider--yes.zyre-feature-list--col-3 .zyre-feature-list-item:not(:nth-child(3n))::after,
	body:not(.rtl) .zyre-feature-list-divider--yes.zyre-feature-list--col-4 .zyre-feature-list-item:not(:nth-child(4n))::after,
	body:not(.rtl) .zyre-feature-list-divider--yes.zyre-feature-list--col-5 .zyre-feature-list-item:not(:nth-child(5n))::after,
	body:not(.rtl) .zyre-feature-list-divider--yes.zyre-feature-list--col-6 .zyre-feature-list-item:not(:nth-child(6n))::after {
		right: calc(var(--right) - calc(var(--divider-weight) / 2));
	}

	body.rtl .zyre-feature-list-divider--yes.zyre-feature-list--col-2 .zyre-feature-list-item:not(:nth-child(2n))::after,
	body.rtl .zyre-feature-list-divider--yes.zyre-feature-list--col-3 .zyre-feature-list-item:not(:nth-child(3n))::after,
	body.rtl .zyre-feature-list-divider--yes.zyre-feature-list--col-4 .zyre-feature-list-item:not(:nth-child(4n))::after,
	body.rtl .zyre-feature-list-divider--yes.zyre-feature-list--col-5 .zyre-feature-list-item:not(:nth-child(5n))::after,
	body.rtl .zyre-feature-list-divider--yes.zyre-feature-list--col-6 .zyre-feature-list-item:not(:nth-child(6n))::after {
		left: calc(var(--right) - calc(var(--divider-weight) / 2));
	}
}

@media (max-width: 1024px) and (min-width: 768px) {
	.zyre-feature-list-divider--yes.zyre-feature-list--col--tablet1 .zyre-feature-list-item:not(:last-child)::after {
		border-top-style: var(--divider-style);
		border-top-width: var(--divider-weight);
		width: 100%;
		bottom: calc(var(--bottom) - calc(var(--divider-weight) / 2));
		left: 0;
	}

	.zyre-feature-list-divider--yes.zyre-feature-list--col--tablet2 .zyre-feature-list-item:not(:nth-child(2n))::after,
	.zyre-feature-list-divider--yes.zyre-feature-list--col--tablet3 .zyre-feature-list-item:not(:nth-child(3n))::after,
	.zyre-feature-list-divider--yes.zyre-feature-list--col--tablet4 .zyre-feature-list-item:not(:nth-child(4n))::after,
	.zyre-feature-list-divider--yes.zyre-feature-list--col--tablet5 .zyre-feature-list-item:not(:nth-child(5n))::after,
	.zyre-feature-list-divider--yes.zyre-feature-list--col--tablet6 .zyre-feature-list-item:not(:nth-child(6n))::after {
		border-left-style: var(--divider-style);
		border-left-width: var(--divider-weight);
		height: 100%;
		bottom: 0;
	}

	body:not(.rtl) .zyre-feature-list-divider--yes.zyre-feature-list--col--tablet2 .zyre-feature-list-item:not(:nth-child(2n))::after,
	body:not(.rtl) .zyre-feature-list-divider--yes.zyre-feature-list--col--tablet3 .zyre-feature-list-item:not(:nth-child(3n))::after,
	body:not(.rtl) .zyre-feature-list-divider--yes.zyre-feature-list--col--tablet4 .zyre-feature-list-item:not(:nth-child(4n))::after,
	body:not(.rtl) .zyre-feature-list-divider--yes.zyre-feature-list--col--tablet5 .zyre-feature-list-item:not(:nth-child(5n))::after,
	body:not(.rtl) .zyre-feature-list-divider--yes.zyre-feature-list--col--tablet6 .zyre-feature-list-item:not(:nth-child(6n))::after {
		right: calc(var(--right) - calc(var(--divider-weight) / 2));
	}

	body.rtl .zyre-feature-list-divider--yes.zyre-feature-list--col--tablet2 .zyre-feature-list-item:not(:nth-child(2n))::after,
	body.rtl .zyre-feature-list-divider--yes.zyre-feature-list--col--tablet3 .zyre-feature-list-item:not(:nth-child(3n))::after,
	body.rtl .zyre-feature-list-divider--yes.zyre-feature-list--col--tablet4 .zyre-feature-list-item:not(:nth-child(4n))::after,
	body.rtl .zyre-feature-list-divider--yes.zyre-feature-list--col--tablet5 .zyre-feature-list-item:not(:nth-child(5n))::after,
	body.rtl .zyre-feature-list-divider--yes.zyre-feature-list--col--tablet6 .zyre-feature-list-item:not(:nth-child(6n))::after {
		left: calc(var(--right) - calc(var(--divider-weight) / 2));
	}
}

@media (max-width: 767px) {
	.zyre-feature-list-divider--yes.zyre-feature-list--col--mobile1 .zyre-feature-list-item:not(:last-child)::after {
		border-top-style: var(--divider-style);
		border-top-width: var(--divider-weight);
		width: 100%;
		bottom: calc(var(--bottom) - calc(var(--divider-weight) / 2));
		left: 0;
	}

	.zyre-feature-list-divider--yes.zyre-feature-list--col--mobile2 .zyre-feature-list-item:not(:nth-child(2n))::after,
	.zyre-feature-list-divider--yes.zyre-feature-list--col--mobile3 .zyre-feature-list-item:not(:nth-child(3n))::after,
	.zyre-feature-list-divider--yes.zyre-feature-list--col--mobile4 .zyre-feature-list-item:not(:nth-child(4n))::after,
	.zyre-feature-list-divider--yes.zyre-feature-list--col--mobile5 .zyre-feature-list-item:not(:nth-child(5n))::after,
	.zyre-feature-list-divider--yes.zyre-feature-list--col--mobile6 .zyre-feature-list-item:not(:nth-child(6n))::after {
		border-left-style: var(--divider-style);
		border-left-width: var(--divider-weight);
		height: 100%;
		bottom: 0;
	}

	body:not(.rtl) .zyre-feature-list-divider--yes.zyre-feature-list--col--mobile2 .zyre-feature-list-item:not(:nth-child(2n))::after,
	body:not(.rtl) .zyre-feature-list-divider--yes.zyre-feature-list--col--mobile3 .zyre-feature-list-item:not(:nth-child(3n))::after,
	body:not(.rtl) .zyre-feature-list-divider--yes.zyre-feature-list--col--mobile4 .zyre-feature-list-item:not(:nth-child(4n))::after,
	body:not(.rtl) .zyre-feature-list-divider--yes.zyre-feature-list--col--mobile5 .zyre-feature-list-item:not(:nth-child(5n))::after,
	body:not(.rtl) .zyre-feature-list-divider--yes.zyre-feature-list--col--mobile6 .zyre-feature-list-item:not(:nth-child(6n))::after {
		right: calc(var(--right) - calc(var(--divider-weight) / 2));
	}

	body.rtl .zyre-feature-list-divider--yes.zyre-feature-list--col--mobile2 .zyre-feature-list-item:not(:nth-child(2n))::after,
	body.rtl .zyre-feature-list-divider--yes.zyre-feature-list--col--mobile3 .zyre-feature-list-item:not(:nth-child(3n))::after,
	body.rtl .zyre-feature-list-divider--yes.zyre-feature-list--col--mobile4 .zyre-feature-list-item:not(:nth-child(4n))::after,
	body.rtl .zyre-feature-list-divider--yes.zyre-feature-list--col--mobile5 .zyre-feature-list-item:not(:nth-child(5n))::after,
	body.rtl .zyre-feature-list-divider--yes.zyre-feature-list--col--mobile6 .zyre-feature-list-item:not(:nth-child(6n))::after {
		left: calc(var(--right) - calc(var(--divider-weight) / 2));
	}
}