.zyre-template-element-modal .modal__container,
.zyre-template-element-modal .modal__header {
	background-color: #1f2124;
}

.zyre-template-element-modal .modal__title,
.zyre-template-element-modal .modal__content .modal__form-select:valid,
.zyre-template-element-modal .modal__content .modal__form-select option:not([value=""]) {
	color: #fff;
}

.zyre-template-element-modal .modal__header {
	border-color: #333438;
}

.zyre-template-element-modal .modal__content .modal__form-select,
.zyre-template-element-modal .select2-container.select2-container--default .select2-selection--single,
.zyre-template-element-modal .select2-container.select2-container--default .select2-selection--multiple {
	background-color: #2b2d32;
	border-color: #4a4a4d !important;
}

.zyre-template-element-modal .modal__information .modal__info-title, 
.zyre-template-element-modal .modal__information .modal__info-subtitle {
	color: #8c94b5;
}

.zyre-template-element-modal .modal__header .modal__close:hover:before,
.zyre-template-element-modal .modal__header .modal__close:focus:before,
.zyre-template-element-modal .modal__btn:hover, 
.zyre-template-element-modal .modal__btn:focus,
.zyre-template-element-modal .zyre-cond-repeater-add:hover {
	color: #fff;
}

.zyre-template-element-modal .zyre-cond-repeater-add:hover {
	border-color: #fff !important;
}