/* Animations */
@-webkit-keyframes zyre-lightbox-zoomIn {
  0% {
    opacity:0;
    -webkit-transform:scale3d(.3,.3,.3);
    transform:scale3d(.3,.3,.3)
  }
  50% {
    opacity:1
  }
}
@keyframes zyre-lightbox-zoomIn {
  0% {
    opacity:0;
    -webkit-transform:scale3d(.3,.3,.3);
    transform:scale3d(.3,.3,.3)
  }
  50% {
    opacity:1
  }
}

/* Common */
.zyre-addon a {transition: none;}
.zyre-addon i, .zyre-addon svg {display: block;}
.zyre-addon i {font-size: 1em;}
.zyre-addon svg {width: 1em;height: 1em;}
.zyre-addon img {display: inline-block;vertical-align: middle;}
.zyre-addon ul {padding: 0;margin: 0;}
.zyre-addon .zy-list-none {list-style: none;}

/* colors */
.zyre-addon .zy-color-white {color: #ffffff;}
.zyre-addon .zy-color-black {color: #000000;}
.zyre-addon .zy-color-transparent {color: transparent;}

/* background */
.zyre-addon .zy-bg-transparent {background: transparent;}
.zyre-addon .zy-bg-black {background-color: #000000;}
.zyre-addon .zy-bg-white {background-color: #FFFFFF;}
.zyre-addon .zy-bg-50 {background-position: 50%;}
.zyre-addon .zy-bg-center {background-position: center;}
.zyre-addon .zy-bg-cover {background-size: cover;}
.zyre-addon .zy-bg-size-100 {background-size: 100%;}
.zyre-addon .zy-bg-no-repeat {background-repeat: no-repeat;}
.zyre-addon .zy-bg-clip-text {background-clip: text;}

/* font-size */
.zyre-addon .zy-fs-1 {font-size: 1em;}
.zyre-addon .zy-fs-1\.2 {font-size: 1.2em;}
.zyre-addon .zy-fs-1\.5 {font-size: 1.5em;}
.zyre-addon .zy-fs-2 {font-size: 2em;}

/* font-weight */
.zyre-addon .zy-fw-bold {font-weight: 700;}

/* line-height */
.zyre-addon .zy-lh-1 {line-height: 1;}
.zyre-addon .zy-lh-1\.2 {line-height: 1.2;}
.zyre-addon .zy-lh-1\.5 {line-height: 1.5;}
.zyre-addon .zy-lh-2 {line-height: 2;}
.zyre-addon .zy-lh-normal {line-height: normal;}

/* text-align */
.zyre-addon .zy-text-left {text-align: left;}
.zyre-addon .zy-text-center {text-align: center;}
.zyre-addon .zy-text-right {text-align: right;}

/* text-transform */
.zyre-addon .zy-uppercase {text-transform: uppercase;}

/* vertical-align */
.zyre-addon .zy-v-text-top {vertical-align: text-top;}
.zyre-addon .zy-v-middle {vertical-align: middle;}

/* width, height */
.zyre-addon .zy-w-0 {width: 0;}
.zyre-addon .zy-w-100 {width: 100%;}
.zyre-addon .zy-w-auto {width: auto;}
.zyre-addon .zy-h-0 {height: 0;}
.zyre-addon .zy-h-1 {height: 1px;}
.zyre-addon .zy-h-100 {height: 100%;}
.zyre-addon .zy-h-auto {height: auto;}
.zyre-addon .zy-mw-1 {width: 5px;}
.zyre-addon .zy-mw-2 {width: 10px;}
.zyre-addon .zy-mw-3 {width: 15px;}
.zyre-addon .zy-mh-10 {min-height: 50px;}

/* object-fit */
.zyre-addon .zy-fit-cover {object-fit: cover;}

/* display */
.zyre-addon .zy-block {display: block;}
.zyre-addon .zy-inline-block {display: inline-block;}
.zyre-addon .zy-inline {display: inline;}
.zyre-addon .zy-table {display: table;}
.zyre-addon .zy-d-none {display: none;}

/* visibility */
.zyre-addon .zy-v-hidden {visibility: hidden;}

/* Flex Layout */
.zyre-flex-container .elementor-widget-container {display: flex;}
.zyre-addon .zy-flex {display: flex;}
.zyre-addon .zy-flex-wrap {flex-wrap: wrap;}
.zyre-addon .zy-inline-flex {display: inline-flex;}
.zyre-addon .zy-direction-row {flex-direction: row;}
.zyre-addon .zy-dir-row-reverse {flex-direction: row-reverse;}
.zyre-addon .zy-direction-column {flex-direction: column;}
.zyre-addon .zy-grow-1 {flex-grow: 1;}
.zyre-addon .zy-basis-0 {flex-basis: 0;}
.zyre-addon .zy-shrink-0 {flex-shrink: 0;}
.zyre-addon .zy-shrink-1 {flex-shrink: 1;}

.zyre-addon .zy-align-center {align-items: center;}
.zyre-addon .zy-align-stretch {align-items: stretch;}
.zyre-addon .zy-align-start {align-items: flex-start;}
.zyre-addon .zy-align-end {align-items: flex-end;}
.zyre-addon .zy-self-center {align-self: center;}
.zyre-addon .zy-self-start {align-self: flex-start;}
.zyre-addon .zy-self-end {align-self: flex-end;}
.zyre-addon .zy-self-stretch {align-self: stretch;}
.zyre-addon .zy-justify-start {justify-content: flex-start;}
.zyre-addon .zy-justify-end {justify-content: flex-end;}
.zyre-addon .zy-justify-between {justify-content: space-between;}
.zyre-addon .zy-justify-center {justify-content: center;}
.zyre-addon .zy-justify-items-center {justify-items: center;}
.zyre-addon .zy-justify-items-start {justify-items: start;}
.zyre-addon .zy-content-center {align-content: center;}
.zyre-addon .zy-content-start {align-content: flex-start;}
.zyre-addon .zy-content-end {align-content: flex-end;}

/* Grid Layout */
.zyre-addon .zy-grid {display: grid;}
.zyre-addon .zy-grid-columns-1 {grid-template-columns: repeat(1, 1fr);}
.zyre-addon .zy-grid-columns-2 {grid-template-columns: repeat(2, 1fr);}
.zyre-addon .zy-grid-columns-3 {grid-template-columns: repeat(3, 1fr);}
.zyre-addon .zy-grid-columns-4 {grid-template-columns: repeat(4, 1fr);}
.zyre-addon .zy-grid-columns-5 {grid-template-columns: repeat(5, 1fr);}
.zyre-addon .zy-grid-columns-6 {grid-template-columns: repeat(6, 1fr);}

/* gap */
.zyre-addon .zy-gap-1 {gap: 5px;}
.zyre-addon .zy-gap-2 {gap: 10px;}
.zyre-addon .zy-gap-3 {gap: 15px;}
.zyre-addon .zy-gap-4 {gap: 20px;}
.zyre-addon .zy-gap-5 {gap: 25px;}
.zyre-addon .zy-gap-6 {gap: 30px;}
.zyre-addon .zy-gap-x-1 {column-gap: 5px;}
.zyre-addon .zy-gap-x-2 {column-gap: 10px;}
.zyre-addon .zy-gap-x-3 {column-gap: 15px;}
.zyre-addon .zy-gap-x-4 {column-gap: 20px;}
.zyre-addon .zy-gap-x-5 {column-gap: 25px;}
.zyre-addon .zy-gap-x-6 {column-gap: 30px;}
.zyre-addon .zy-gap-y-1 {row-gap: 5px;}
.zyre-addon .zy-gap-y-2 {row-gap: 10px;}
.zyre-addon .zy-gap-y-3 {row-gap: 15px;}
.zyre-addon .zy-gap-y-4 {row-gap: 20px;}
.zyre-addon .zy-gap-y-5 {row-gap: 25px;}
.zyre-addon .zy-gap-y-6 {row-gap: 30px;}

/* text wrap */
.zyre-addon .zy-nowrap {white-space: nowrap;}
.zyre-addon .zy-break-word {word-wrap: break-word;}
.zyre-addon .zy-break-all {word-break: break-all;}
.zyre-addon .zy-overflow-break-word {overflow-wrap: break-word;}

/* margin */
.zyre-addon .zy-m-0 {margin: 0;}
.zyre-addon .zy-m-1 {margin: 5px;}
.zyre-addon .zy-m-2 {margin: 10px;}
.zyre-addon .zy-m-3 {margin: 15px;}
.zyre-addon .zy-ml-0 {margin-left: 0;}
.zyre-addon .zy-ml-1 {margin-left: 5px;}
.zyre-addon .zy-ml-2 {margin-left: 10px;}
.zyre-addon .zy-ml-3 {margin-left: 15px;}
.zyre-addon .zy-ml-auto {margin-left: auto;}
.zyre-addon .zy-mr-0 {margin-right: 0;}
.zyre-addon .zy-mr-1 {margin-right: 5px;}
.zyre-addon .zy-mr-2 {margin-right: 10px;}
.zyre-addon .zy-mr-3 {margin-right: 15px;}
.zyre-addon .zy-mr-auto {margin-right: auto;}
.zyre-addon .zy-mt-1 {margin-top: 5px;}
.zyre-addon .zy-mt-2 {margin-top: 10px;}
.zyre-addon .zy-mt-3 {margin-top: 15px;}
.zyre-addon .zy-mt-4 {margin-top: 20px;}
.zyre-addon .zy-mb-1 {margin-bottom: 5px;}
.zyre-addon .zy-mb-2 {margin-bottom: 10px;}
.zyre-addon .zy-mb-3 {margin-bottom: 15px;}
.zyre-addon .zy-mb-4 {margin-bottom: 20px;}
.zyre-addon .zy-mb-5 {margin-bottom: 25px;}
.zyre-addon .zy-mb-6 {margin-bottom: 30px;}
.zyre-addon .zy-my-auto {margin-top: auto;margin-bottom: auto;}
.zyre-addon .zy-mx-auto {margin-left: auto;margin-right: auto;}
.zyre-addon .zy-mis-1 {margin-inline-start: 5px;}
.zyre-addon .zy-mis-2 {margin-inline-start: 10px;}
.zyre-addon .zy-mis-3 {margin-inline-start: 15px;}
.zyre-addon .zy-mie-1 {margin-inline-end: 5px;}
.zyre-addon .zy-mie-2 {margin-inline-end: 10px;}
.zyre-addon .zy-mie-3 {margin-inline-end: 15px;}

/* padding */
.zyre-addon .zy-p-0 {padding: 0;}
.zyre-addon .zy-p-1 {padding: 5px;}
.zyre-addon .zy-p-2 {padding: 10px;}
.zyre-addon .zy-p-3 {padding: 15px;}
.zyre-addon .zy-p-4 {padding: 20px;}
.zyre-addon .zy-p-5 {padding: 25px;}
.zyre-addon .zy-p-6 {padding: 30px;}
.zyre-addon .zy-px-1 {padding-left: 5px;padding-right: 5px;}
.zyre-addon .zy-px-2 {padding-left: 10px;padding-right: 10px;}
.zyre-addon .zy-px-3 {padding-left: 15px;padding-right: 15px;}
.zyre-addon .zy-px-4 {padding-left: 20px;padding-right: 20px;}
.zyre-addon .zy-py-1 {padding-top: 5px;padding-bottom: 5px;}
.zyre-addon .zy-py-2 {padding-top: 10px;padding-bottom: 10px;}
.zyre-addon .zy-py-3 {padding-top: 15px;padding-bottom: 15px;}
.zyre-addon .zy-pt-1 {padding-top: 5px;}
.zyre-addon .zy-pt-2 {padding-top: 10px;}
.zyre-addon .zy-pt-3 {padding-top: 15px;}
.zyre-addon .zy-pb-1 {padding-bottom: 5px;}
.zyre-addon .zy-pb-2 {padding-bottom: 10px;}
.zyre-addon .zy-pb-3 {padding-bottom: 15px;}

/* border, outline, border-radius */
.zyre-addon .zy-outline-0 {outline: 0;}
.zyre-addon .zy-outline-none {outline: none;}
.zyre-addon .zy-border-none {border: none;}
.zyre-addon .zy-border-t-1 {border-top: 1px solid;}
.zyre-addon .zy-radius-0 {border-radius: 0;}
.zyre-addon .zy-shadow-none {box-shadow: none;}

/* cursor */
.zyre-addon .zy-c-pointer {cursor: pointer;}

/* transition */
.zyre-addon .zy-transition {transition: var(--zy-transition);}

/* position, left, top, right, bottom */
.zyre-addon .zy-relative {position: relative;}
.zyre-addon .zy-absolute {position: absolute;}
.zyre-addon .zy-fixed {position: fixed;}
.zyre-addon .zy-static {position: static;}

.zyre-addon .zy-top-0 {top: 0;}
.zyre-addon .zy-top-50 {top: 50%;}
.zyre-addon .zy-left-0 {left: 0;}
.zyre-addon .zy-left-50 {left: 50%;}
.zyre-addon .zy-left-auto {left: auto;}
.zyre-addon .zy-right-0 {right: 0;}
.zyre-addon .zy-right-50 {right: 50%;}
.zyre-addon .zy-bottom-0 {bottom: 0;}
.zyre-addon .zy-bottom-1 {bottom: 5px;}
.zyre-addon .zy-bottom-2 {bottom: 10px;}
.zyre-addon .zy-bottom-3 {bottom: 15px;}
.zyre-addon .zy-bottom-4 {bottom: 20px;}

/* z-index */
.zyre-addon .zy-index-1 {z-index: 1;}
.zyre-addon .zy-index-2 {z-index: 2;}

/* transform */
.zyre-addon .zy-translateY--50 {transform: translateY(-50%);}

/* overflow */
.zyre-addon .zy-overflow-hidden {overflow: hidden;}
.zyre-addon .zy-overflow-y-auto {overflow-y: auto;}

/* opacity */
.zyre-addon .zy-opacity-0 {opacity: 0;}

/* Button */
.zyre-button {
    position: relative;
    display: inline-block;
	width: fit-content;
    color: inherit;
    font-size: 1em;
    line-height: 1.15em;
    border-width: 1px;
    transition: var(--zy-transition) !important;
	overflow: hidden;
}

.zyre-button-link {
	cursor: pointer;
}

.zyre-button, .zyre-button::before {
    border-radius: 5px 5px 5px 5px;
}

.zyre-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
	opacity: 0;
	transition: opacity var(--zy-transition-duration) !important;
}

.zyre-button:hover::before,
.zyre-button:focus::before {
	opacity: 1;
}

.zyre-button .zyre-button-inner {
	height: 100%;
	width: 100%;
    display: inline-flex;
	align-items: center;
	gap: 10px;
    position: relative;
    z-index: 1;
}

.zyre-button .zyre-button-icon {
    display: flex;
	align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
	flex-shrink: 0;
	height: 100%;
	transition: background var(--zy-transition-duration);
}

.zyre-button .zyre-icon-right {
    order: 2;
}

.zyre-button:active .zyre-button-icon,
.zyre-button:hover .zyre-button-icon {
    transition-duration: var(--zy-transition-duration);
}

.zyre-button .zyre-button-icon > i {
    font-size: 1em;
}

.zyre-button .zyre-button-icon > svg {
    width: 1em;
    height: 1em;
}

.zyre-button .zyre-button-icon + .zyre-button-text {
	text-align: left;
}

/* List Items */
.zyre-list-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.zyre-list-items.zyre-list-items-inline {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.zyre-list-item, .zyre-list-item a {
    color: inherit;
    align-items: center;
    display: flex;
    font-size: inherit;
    gap: 10px;
}

.zyre-list-item {
    margin: 0;
    padding: 0;
    position: relative;
}

.zyre-list-item-icon {
    display: flex;
    position: relative;
    top: 0;
}

.zyre-list-item-icon i {
    color: inherit;
    font-size: 1em;
    transition: color var(--zy-transition-duration);
}

.zyre-list-item-icon svg {
    fill: inherit;
    width: 1em;
    height: 1em;
    transition: fill var(--zy-transition-duration);
}

.zyre-list-item-text {
    transition: color var(--zy-transition-duration);
}

/* forms */
.zyre-addon input:-webkit-autofill,
.zyre-addon input:-webkit-autofill:hover,
.zyre-addon input:-webkit-autofill:focus,
.zyre-addon textarea:-webkit-autofill,
.zyre-addon textarea:-webkit-autofill:hover,
.zyre-addon textarea:-webkit-autofill:focus,
.zyre-addon select:-webkit-autofill,
.zyre-addon select:-webkit-autofill:hover,
.zyre-addon select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
}