.zyre-addon-site-title .zyre-site-title-link,
.zyre-addon-site-title .zyre-site-title-heading,
.zyre-addon-site-title .zyre-site-title,
.zyre-addon-site-title .zyre-site-title-prefix,
.zyre-addon-site-title .zyre-site-title-suffix,
.zyre-addon-site-title .zyre-site-title-icon i {
    transition: all 0.25s;
}

.zyre-addon-site-title .zyre-site-title-icon svg {
    transition: fill 0.25s;
}