.zyre-addon-infobox {
    --zyre-infobox-media-offset-x: 0;
    --zyre-infobox-media-offset-y: 0;
    --zyre-infobox-media-rotate: 0;
}

.zyre-addon-infobox .elementor-widget-container {
    position: relative;
    overflow: hidden;
}

.zyre-addon-infobox.zyre-infobox-media-dir-left .elementor-widget-container,
.zyre-addon-infobox.zyre-infobox-media-dir-right .elementor-widget-container {
    display: flex;
}

.zyre-addon-infobox.zyre-infobox-media-dir-right .elementor-widget-container {
    justify-content: flex-end;
}

/* Media */
.zyre-addon-infobox .zyre-infobox-media {
    transform: translate(var(--zyre-infobox-media-offset-x), var(--zyre-infobox-media-offset-y));
}

.zyre-addon-infobox.zyre-infobox-media-dir-right .zyre-infobox-media {
    order: 2;
}

.zyre-addon-infobox.zyre-infobox-media-dir-left .zyre-infobox-icon,
.zyre-addon-infobox.zyre-infobox-media-dir-right .zyre-infobox-icon {
    flex-shrink: 0;
}

.zyre-addon-infobox .zyre-infobox-icon {
    transform: translate(var(--zyre-infobox-media-offset-x), var(--zyre-infobox-media-offset-y)) rotate(var(--zyre-infobox-media-rotate));
}

.zyre-addon-infobox .zyre-infobox-media img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    object-fit: cover;
}

.zyre-addon-infobox .zyre-infobox-icon i,
.zyre-addon-infobox .zyre-infobox-icon svg {
    position: relative;
}

.zyre-addon-infobox .zyre-infobox-icon i {
    transition: color var(--zy-transition-duration);
}

.zyre-addon-infobox .zyre-infobox-icon svg {
    transition: fill var(--zy-transition-duration);
}

/* Content */
.zyre-addon-infobox.zyre-infobox-media-dir-left .zyre-infobox-content,
.zyre-addon-infobox.zyre-infobox-media-dir-right .zyre-infobox-content {
    flex-basis: 100%;
}

.zyre-addon-infobox.zyre-infobox-media-dir-left .zyre-infobox-content {
    text-align: left;
}

.zyre-addon-infobox.zyre-infobox-media-dir-right .zyre-infobox-content {
    text-align: right;
}

.zyre-addon-infobox .zyre-infobox-title,
.zyre-addon-infobox .zyre-infobox-description {
    transition: all var(--zy-transition-duration);
}

.zyre-addon-infobox .zyre-infobox-description p:not(:last-child) {
    margin-bottom: 1em;
}