.zyre-post-date-display-float .zyre-post-date:not(.zyre-post-meta-item) {
	position: absolute;
    top: 0;
    left: 0;
	z-index: 1;
}

body.rtl .zyre-post-date-display-float .zyre-post-date:not(.zyre-post-meta-item) {
	left: auto;
	right: 0;
}

.zyre-post-date-display-float .zyre-post-date:not(.zyre-post-meta-item) {
	background-color: #fff;
	padding: 5px 10px;
}

.zyre-addon-post-grid .zyre-post-title a,
.zyre-addon-post-grid .zyre-post-categories a,
.zyre-addon-post-grid .zyre-post-tags a,
.zyre-addon-post-grid .page-numbers {
	transition: all 0.2s;
}