.zyre-addon-social-share .zyre-share-item {
	margin-bottom: var(--grid-row-gap);
	transition: background var(--zy-transition-duration);
}

.zyre-addon-social-share .zyre-share-item i,
.zyre-addon-social-share .zyre-share-item svg {
	flex-shrink: 0;
	transition: var(--zy-transition);
}

.zyre-addon-social-share .zyre-share-item-label {
	font-size: 0.875em;
	word-spacing: normal;
	transition: color var(--zy-transition-duration), border-color var(--zy-transition-duration);
}