.zyre-addon-advance-tab  .zyre-tabs-nav-item,
.zyre-addon-advance-tab  .zyre-tabs-nav-item * {
	transition: color var(--zy-transition-duration), background var(--zy-transition-duration), border-color var(--zy-transition-duration);
}

.zyre-addon-advance-tab .zyre-tabs-nav-item {
	border: 0;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
    color: #000000;
	padding: 1.05em 0;
}

.zyre-addon-advance-tab .zyre-tabs-nav-item.active {
    color: #197dff;
	border-color: #197dff;
}

.zyre-addon-advance-tab .zyre-tabs-content-item:not(.active) {
    display: none;
}