@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Inter:opsz,wght@14..32,300&display=swap');

.zy-py-1 {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.zy-py-2 {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.elementor-panel .elementor-control-type-heading .elementor-control-title {
	font-size: 1.1em;
}

.elementor-icons-manager__tab-link .zy-Zyre-addons {
    vertical-align: bottom;
}

.elementor-panel .elementor-element .icon {
    position: relative;
}

.elementor-panel .elementor-element .icon .zy-fonticon:after {
    position: absolute;
    top: 5px;
    right: 6px;
    content: "\eb42";
    font-size: 20px;
    opacity: .5;
}

.elementor-panel .zyre-element--promotion > .elementor-element > .eicon-lock {
    right: auto;
    left: 5px;
}

.elementor-panel .elementor-element:hover .icon .zy-fonticon:after,
.elementor-panel .elementor-element:focus .icon .zy-fonticon:after {
    opacity: 1;
}

#elementor-element--promotion__dialog .dialog-button.zyre-btn--promotion {
	width: 100%;
}

.elementor-control-separator-before .elementor-control-content h3.elementor-control-title {
	font-size: 1.1em;
}

.elementor-control-type-zyre_style_select .elementor-control-field {
	justify-content: space-between;
}

.elementor-control-type-zyre_style_select .elementor-control-title,
.elementor-control-type-zyre_style_select .zyre-reset-style {
	cursor: pointer;
	transition: opacity 0.2s;
}

.elementor-control-type-zyre_style_select .zyre-reset-style {
	background: none;
	outline: none;
	border: none;
}

.elementor-control-type-zyre_style_select .zyre-reset-style[disabled] {
	cursor: not-allowed;
}

.elementor-control-type-zyre_style_select .zyre-reset-style:not([disabled]):hover,
.elementor-control-type-zyre_style_select .zyre-reset-style:not([disabled]):focus,
.elementor-control-type-zyre_style_select .elementor-control-title:hover {
	opacity: 0.8;
}

/* Fix icon rotation based on selected direction */
#elementor-controls:has(.elementor-control-times_direction input[value="column"]:checked) .elementor-control-times_justify .elementor-choices .eicon-flex,
#elementor-controls:has(.elementor-control-author_registered_view input[value="block"]:checked) .elementor-control-author_registered_order .elementor-choices .eicon-flex,
#elementor-controls:has(.elementor-control-author_post_count_view input[value="block"]:checked) .elementor-control-author_post_count_order .elementor-choices .eicon-flex {
	transform: rotate(calc(var(--rotation-direction) * 90deg));
}

#elementor-controls:has(.elementor-control-avatar_direction input[value="top"]:checked) .elementor-control-avatar_position .elementor-choices [class^="eicon-v-align-"],
#elementor-controls:has(.elementor-control-avatar_direction_tablet input[value="top"]:checked) .elementor-control-avatar_position_tablet .elementor-choices [class^="eicon-v-align-"],
#elementor-controls:has(.elementor-control-avatar_direction_mobile input[value="top"]:checked) .elementor-control-avatar_position_mobile .elementor-choices [class^="eicon-v-align-"],
#elementor-controls:has(.elementor-control-avatar_direction input[value="bottom"]:checked) .elementor-control-avatar_position .elementor-choices [class^="eicon-v-align-"],
#elementor-controls:has(.elementor-control-avatar_direction_tablet input[value="bottom"]:checked) .elementor-control-avatar_position_tablet .elementor-choices [class^="eicon-v-align-"],
#elementor-controls:has(.elementor-control-avatar_direction_mobile input[value="bottom"]:checked) .elementor-control-avatar_position_mobile .elementor-choices [class^="eicon-v-align-"] {
	transform: rotate(270deg);
}

/* Tooltip */
.elementor-control-type-zyre_style_select .elementor-control-input-wrapper {
	position: relative;
}

.elementor-control-type-zyre_style_select .elementor-control-input-wrapper .zyre-tooltip {
	visibility: hidden;
	background-color: #000000;
	color: #c69500;
	border-radius: 4px;
	padding: 8px;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 1;
	line-height: 1.3;
}

.elementor-control-type-zyre_style_select .elementor-control-input-wrapper:hover .zyre-tooltip {
  visibility: visible;
}

/* micromodal */
.micromodal-slide {
	display: none;
}

.micromodal-slide.is-open {
	display: block;
}

.micromodal-slide[aria-hidden=false] .modal__overlay {
	-webkit-animation: mmfadeIn .3s cubic-bezier(0, 0, .2, 1);
	animation: mmfadeIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden=false] .modal__container {
	-webkit-animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
	animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__overlay {
	-webkit-animation: mmfadeOut .3s cubic-bezier(0, 0, .2, 1);
	animation: mmfadeOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__container {
	-webkit-animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
	animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
	will-change: transform;
}