:root {
	--zy-tmpl-modal-primary: #2d41fa;
	--zy-tmpl-modal-primary-2: #485aff;
	--zy-tmpl-modal-primary-3: #8f9aff;
	--zy-tmpl-modal-accent: #ffaa19;
	--zy-tmpl-modal-accent-2: #f39a02;
}

.zyre-TemplateLibrary_preview {
	overflow: hidden;
	margin: auto;
	width: 100%;
	height: 100%;
	-webkit-transition: width .2s, height .2s;
	transition: width .2s, height .2s;
}

.zyre-TemplateLibrary_preview>iframe {
	width: 150%;
	height: 150%;
	-webkit-transform: scale(.666) translateX(-25%) translateY(-25%);
	-ms-transform: scale(.666) translateX(-25%) translateY(-25%);
	transform: scale(.666) translateX(-25%) translateY(-25%);
}

.zyre-TemplateLibrary_logo-wrap {
	display: inline-block;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: var(--zy-tmpl-modal-primary);
	color: #fff;
	text-align: center;
	line-height: 30px;
}

.zyre-TemplateLibrary_logo-wrap>i {
	position: relative;
	top: 1px;
}

.zyre-TemplateLibrary_logo-title {
	padding-top: 2px;
}

.zyre-TemplateLibrary_responsive-menu-item {
	display: inline-block;
	padding: 15px 0;
	width: 40px;
	cursor: pointer;
	text-align: center;
}

.zyre-TemplateLibrary_responsive-menu-item.elementor-active {
	border-bottom: 3px solid var(--zy-tmpl-modal-primary);
}

.zyre-TemplateLibrary_header-menu .elementor-template-library-menu-item.elementor-active {
	border-bottom-color: var(--zy-tmpl-modal-primary);
}

.zyre-TemplateLibrary_notice-wrapper {
	margin-bottom: 10px;
}

.zyre-TemplateLibrary_notice-wrapper .zyre-TemplateLibrary_notice {
    color: #b38603;
    display: inline-block;
}

#zyre-TemplateLibrary_toolbar {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

#zyre-TemplateLibrary_toolbar-search,
#zyre-TemplateLibrary_toolbar-filter {
	position: relative;
	width: 200px;
}

#zyre-TemplateLibrary_toolbar-search i,
.zyre-TemplateLibrary_filter-btn i {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.zyre-TemplateLibrary_filter-btn {
	display: block;
	text-align: left;
	text-transform: uppercase;
	cursor: pointer;
}

#zyre-TemplateLibrary_toolbar-counter {
	font-size: 12px;
}

#zyre-TemplateLibrary_search {
	border: none;
}

#zyre-TemplateLibrary_search,
.zyre-TemplateLibrary_filter-btn {
	padding: 8px 15px 8px 0;
	border-bottom: 1px solid #d5dadf;
	border-radius: 0;
	font-size: 12px;
}

#zyre-TemplateLibrary_filter-tags {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 999;
	display: none;
	margin-top: 10px;
	padding: 10px;
	width: 270%;
	border-radius: 0 2px 2px;
	background-color: #fff;
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
	box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
}

#zyre-TemplateLibrary_filter-tags>li {
	float: left;
	padding: 10px;
	width: 25%;
	text-align: left;
	text-transform: capitalize;
	cursor: pointer;
}

#zyre-TemplateLibrary_filter-tags>li:hover,
#zyre-TemplateLibrary_filter-tags>li.active {
	color: var(--zy-tmpl-modal-primary-3);
}

#zyre-TemplateLibrary_filter-tags:before {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 0 10px 10px 0;
	border-bottom-color: #fff;
	content: " ";
	pointer-events: none;
}

#zyre-TemplateLibrary_templates {
	height: calc(100% + 30px);
}

.zyre-TemplateLibrary_templates-window {
	position: relative;
	overflow-y: auto;
	margin: 10px -15px 0;
	height: calc(100% - 45px);
}

#zyre-TemplateLibrary_templates-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-ms-flex-align: start;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.zyre-TemplateLibrary_template {
	position: relative;
	overflow: hidden;
	margin: 15px;
	border-radius: 2px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .07);
	box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .07);
}

.zyre-TemplateLibrary_templates--section .zyre-TemplateLibrary_template,
.zyre-TemplateLibrary_templates--container .zyre-TemplateLibrary_template {
	width: calc(33.333% - 30px);
}

.zyre-TemplateLibrary_templates--page .zyre-TemplateLibrary_template {
	width: calc(25% - 30px);
}

.zyre-TemplateLibrary_template-body {
	position: relative;
}

.zyre-TemplateLibrary_template-preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	opacity: 0;
	cursor: pointer;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

.zyre-TemplateLibrary_template-preview i {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #d5dadf;
	font-size: 20px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.zyre-TemplateLibrary_template-badge {
	position: absolute;
	top: 10px;
	right: 10px;
	display: inline-block;
	padding: 2px 4px;
	border-radius: 2px;
	background-color: var(--zy-tmpl-modal-accent);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-size: 10px;
}

.zyre-TemplateLibrary_template:hover .zyre-TemplateLibrary_template-preview {
	opacity: 1;
}

.zyre-TemplateLibrary_template-thumbnail {
	display: block;
	width: 100%;
}

.zyre-TemplateLibrary_template-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding: 10px;
	width: 100%;
	background-color: #fff;
	font-size: 11px;
	line-height: 1;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}

.zyre-TemplateLibrary_template:hover .zyre-TemplateLibrary_template-footer {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.zyre-TemplateLibrary_template .zyre-TemplateLibrary_pro-button {
	color: var(--zy-tmpl-modal-accent);
}

.zyre-TemplateLibrary_template .zyre-TemplateLibrary_insert-button {
	color: var(--zy-tmpl-modal-primary-3);
}

.zyre-TemplateLibrary_template .zyre-TemplateLibrary_preview-button {
	color: #fff;
}

#elementor-template-library-header-preview .zyre-TemplateLibrary_pro-button {
	background-color: var(--zy-tmpl-modal-accent);
	color: #fff;
}

#elementor-template-library-header-preview .zyre-TemplateLibrary_pro-button:hover,
#elementor-template-library-header-preview .zyre-TemplateLibrary_pro-button:focus {
	background-color: var(--zy-tmpl-modal-accent-2);
	color: #fff;
}

#elementor-template-library-header-preview .zyre-TemplateLibrary_insert-button {
	background-color: var(--zy-tmpl-modal-primary);
	color: #fff;
}

#elementor-template-library-header-preview .zyre-TemplateLibrary_insert-button:hover,
#elementor-template-library-header-preview .zyre-TemplateLibrary_insert-button:focus {
	background-color: var(--zy-tmpl-modal-primary-2);
	color: #fff;
}