.zyre-dual-button--layout-block .zyre-dual-button-wrapper {
	width: 260px;
}

.zyre-addon-dual-button .zyre-button {
    width: 260px;
	height: 60px;
}

.zyre-addon-dual-button .zyre-button-connector {
	--translate-x: 0;
	--translate-y: 0;
	transform: translate(var(--translate-x), var(--translate-y));
}

.zyre-addon-dual-button .zyre-button-connector::before,
.zyre-addon-dual-button .zyre-button-connector::after {
	content: "";
}

.zyre-addon-dual-button .zyre-button-icon-onhover .zyre-button-icon > * {
	margin-inline-end: -1rem;
}

.zyre-addon-dual-button .zyre-button-icon-onhover .zyre-button-icon {
	opacity: 0;
	transform: translateX(-0.7em);
	transition: opacity var(--zy-transition-duration), transform var(--zy-transition-duration);
}

.rtl .zyre-addon-dual-button .zyre-button-icon-onhover .zyre-button-icon {
	transform: translateX(0.7em);
}

.zyre-addon-dual-button .zyre-button-icon-onhover:hover .zyre-button-icon {
	opacity: 1;
	transform: translateX(0);
}