.zyre-addon-image-list .zyre-image-list-items {
	display: grid;
	list-style: none;
	margin: 0;
}

.zyre-addon-image-list .zyre-image-list-item {
	--divider-weight: 0px;
	--divider-style: 'solid';
	--right: 0px;
	--bottom: 0px;
	transition: background var(--zy-transition-duration);
}

.zyre-addon-image-list .zyre-image-list-item,
.zyre-addon-image-list .zyre-image-list-item-link {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
}

.zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content) .zyre-image-list-item::after {
	content: '';
	position: absolute;
	z-index: 1;
}

.zyre-image-list-divider--yes.zyre-image-list-divider-to--content .zyre-image-list-item-content::after {
	content: '';
	position: absolute;
	z-index: 1;
}

.zyre-addon-image-list .zyre-image-list-item:not(.zyre-image-list-item--content-bottom) > *,
.zyre-addon-image-list .zyre-image-list-item:not(.zyre-image-list-item--content-bottom) .zyre-image-list-item-link > * {
	align-self: stretch;
	align-items: center;
}

.zyre-addon-image-list .zyre-image-list-item--content-bottom .zyre-image-list-item-content {
	width: 100%;
}

.zyre-addon-image-list .zyre-image-list-item-title,
.zyre-addon-image-list .zyre-image-list-item-text {
	margin: 0;
	transition: color var(--zy-transition-duration);
	font-family: inherit;
}

.zyre-addon-image-list:not(.zyre-image-list-caption-display--normal) .zyre-image-list-item-type-wrapper {
	display: inline-flex;
}

.zyre-addon-image-list .zyre-image-list-item-type-wrapper {
	text-align: center;
	transition: all var(--zy-transition-duration);
}

.zyre-addon-image-list .zyre-image-list-item-type-wrapper:not(.zyre-image-list-item-image) {
	flex-shrink: 0;
}

.zyre-addon-image-list .zyre-image-list-item-caption-wrap {
    transition: all var(--zy-transition-duration);
}

.zyre-addon-image-list .zyre-image-list-item-image img {
	object-fit: cover;
	transition: all var(--zy-transition-duration);
}

.zyre-addon-image-list .zyre-image-list-item-icon i {
	transition: color var(--zy-transition-duration);
}

.zyre-addon-image-list .zyre-image-list-item-icon svg {
	transition: fill var(--zy-transition-duration);
}

/* Divider */
@media (min-width: 1025px) {
	.zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col-1 .zyre-image-list-item:not(:last-child)::after,
	.zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col-1 .zyre-image-list-item:not(:last-child) .zyre-image-list-item-content::after {
		border-top-style: var(--divider-style);
		border-top-width: var(--divider-weight);
		width: 100%;
		bottom: calc(var(--bottom) - calc(var(--divider-weight) / 2));
		left: 0;
	}

	.zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col-2 .zyre-image-list-item:not(:nth-child(2n))::after,
	.zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col-3 .zyre-image-list-item:not(:nth-child(3n))::after,
	.zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col-4 .zyre-image-list-item:not(:nth-child(4n))::after,
	.zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col-5 .zyre-image-list-item:not(:nth-child(5n))::after,
	.zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col-6 .zyre-image-list-item:not(:nth-child(6n))::after,
	.zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col-2 .zyre-image-list-item:not(:nth-child(2n)) .zyre-image-list-item-content::after,
	.zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col-3 .zyre-image-list-item:not(:nth-child(3n)) .zyre-image-list-item-content::after,
	.zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col-4 .zyre-image-list-item:not(:nth-child(4n)) .zyre-image-list-item-content::after,
	.zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col-5 .zyre-image-list-item:not(:nth-child(5n)) .zyre-image-list-item-content::after,
	.zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col-6 .zyre-image-list-item:not(:nth-child(6n)) .zyre-image-list-item-content::after{
		border-left-style: var(--divider-style);
		border-left-width: var(--divider-weight);
		height: 100%;
		bottom: 0;
	}

	body:not(.rtl) .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col-2 .zyre-image-list-item:not(:nth-child(2n))::after,
	body:not(.rtl) .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col-3 .zyre-image-list-item:not(:nth-child(3n))::after,
	body:not(.rtl) .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col-4 .zyre-image-list-item:not(:nth-child(4n))::after,
	body:not(.rtl) .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col-5 .zyre-image-list-item:not(:nth-child(5n))::after,
	body:not(.rtl) .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col-6 .zyre-image-list-item:not(:nth-child(6n))::after,
	body:not(.rtl) .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col-2 .zyre-image-list-item:not(:nth-child(2n)) .zyre-image-list-item-content::after,
	body:not(.rtl) .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col-3 .zyre-image-list-item:not(:nth-child(3n)) .zyre-image-list-item-content::after,
	body:not(.rtl) .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col-4 .zyre-image-list-item:not(:nth-child(4n)) .zyre-image-list-item-content::after,
	body:not(.rtl) .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col-5 .zyre-image-list-item:not(:nth-child(5n)) .zyre-image-list-item-content::after,
	body:not(.rtl) .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col-6 .zyre-image-list-item:not(:nth-child(6n)) .zyre-image-list-item-content::after{
		right: calc(var(--right) - calc(var(--divider-weight) / 2));
	}

	body.rtl .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col-2 .zyre-image-list-item:not(:nth-child(2n))::after,
	body.rtl .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col-3 .zyre-image-list-item:not(:nth-child(3n))::after,
	body.rtl .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col-4 .zyre-image-list-item:not(:nth-child(4n))::after,
	body.rtl .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col-5 .zyre-image-list-item:not(:nth-child(5n))::after,
	body.rtl .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col-6 .zyre-image-list-item:not(:nth-child(6n))::after,
	body.rtl .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col-2 .zyre-image-list-item:not(:nth-child(2n)) .zyre-image-list-item-content::after,
	body.rtl .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col-3 .zyre-image-list-item:not(:nth-child(3n)) .zyre-image-list-item-content::after,
	body.rtl .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col-4 .zyre-image-list-item:not(:nth-child(4n)) .zyre-image-list-item-content::after,
	body.rtl .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col-5 .zyre-image-list-item:not(:nth-child(5n)) .zyre-image-list-item-content::after,
	body.rtl .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col-6 .zyre-image-list-item:not(:nth-child(6n)) .zyre-image-list-item-content::after{
		left: calc(var(--right) - calc(var(--divider-weight) / 2));
	}
}

@media (max-width: 1024px) and (min-width: 768px) {
	.zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--tablet1 .zyre-image-list-item:not(:last-child)::after,
	.zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--tablet1 .zyre-image-list-item:not(:last-child) .zyre-image-list-item-content::after {
		border-top-style: var(--divider-style);
		border-top-width: var(--divider-weight);
		width: 100%;
		bottom: calc(var(--bottom) - calc(var(--divider-weight) / 2));
		left: 0;
	}

	.zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--tablet2 .zyre-image-list-item:not(:nth-child(2n))::after,
	.zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--tablet3 .zyre-image-list-item:not(:nth-child(3n))::after,
	.zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--tablet4 .zyre-image-list-item:not(:nth-child(4n))::after,
	.zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--tablet5 .zyre-image-list-item:not(:nth-child(5n))::after,
	.zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--tablet6 .zyre-image-list-item:not(:nth-child(6n))::after,
	.zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--tablet2 .zyre-image-list-item:not(:nth-child(2n)) .zyre-image-list-item-content::after,
	.zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--tablet3 .zyre-image-list-item:not(:nth-child(3n)) .zyre-image-list-item-content::after,
	.zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--tablet4 .zyre-image-list-item:not(:nth-child(4n)) .zyre-image-list-item-content::after,
	.zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--tablet5 .zyre-image-list-item:not(:nth-child(5n)) .zyre-image-list-item-content::after,
	.zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--tablet6 .zyre-image-list-item:not(:nth-child(6n)) .zyre-image-list-item-content::after{
		border-left-style: var(--divider-style);
		border-left-width: var(--divider-weight);
		height: 100%;
		bottom: 0;
	}

	body:not(.rtl) .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--tablet2 .zyre-image-list-item:not(:nth-child(2n))::after,
	body:not(.rtl) .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--tablet3 .zyre-image-list-item:not(:nth-child(3n))::after,
	body:not(.rtl) .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--tablet4 .zyre-image-list-item:not(:nth-child(4n))::after,
	body:not(.rtl) .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--tablet5 .zyre-image-list-item:not(:nth-child(5n))::after,
	body:not(.rtl) .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--tablet6 .zyre-image-list-item:not(:nth-child(6n))::after,
	body:not(.rtl) .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--tablet2 .zyre-image-list-item:not(:nth-child(2n)) .zyre-image-list-item-content::after,
	body:not(.rtl) .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--tablet3 .zyre-image-list-item:not(:nth-child(3n)) .zyre-image-list-item-content::after,
	body:not(.rtl) .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--tablet4 .zyre-image-list-item:not(:nth-child(4n)) .zyre-image-list-item-content::after,
	body:not(.rtl) .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--tablet5 .zyre-image-list-item:not(:nth-child(5n)) .zyre-image-list-item-content::after,
	body:not(.rtl) .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--tablet6 .zyre-image-list-item:not(:nth-child(6n)) .zyre-image-list-item-content::after{
		right: calc(var(--right) - calc(var(--divider-weight) / 2));
	}

	body.rtl .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--tablet2 .zyre-image-list-item:not(:nth-child(2n))::after,
	body.rtl .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--tablet3 .zyre-image-list-item:not(:nth-child(3n))::after,
	body.rtl .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--tablet4 .zyre-image-list-item:not(:nth-child(4n))::after,
	body.rtl .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--tablet5 .zyre-image-list-item:not(:nth-child(5n))::after,
	body.rtl .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--tablet6 .zyre-image-list-item:not(:nth-child(6n))::after,
	body.rtl .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--tablet2 .zyre-image-list-item:not(:nth-child(2n)) .zyre-image-list-item-content::after,
	body.rtl .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--tablet3 .zyre-image-list-item:not(:nth-child(3n)) .zyre-image-list-item-content::after,
	body.rtl .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--tablet4 .zyre-image-list-item:not(:nth-child(4n)) .zyre-image-list-item-content::after,
	body.rtl .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--tablet5 .zyre-image-list-item:not(:nth-child(5n)) .zyre-image-list-item-content::after,
	body.rtl .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--tablet6 .zyre-image-list-item:not(:nth-child(6n)) .zyre-image-list-item-content::after{
		left: calc(var(--right) - calc(var(--divider-weight) / 2));
	}
}

@media (max-width: 767px) {
	.zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--mobile1 .zyre-image-list-item:not(:last-child)::after,
	.zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--mobile1 .zyre-image-list-item:not(:last-child) .zyre-image-list-item-content::after {
		border-top-style: var(--divider-style);
		border-top-width: var(--divider-weight);
		width: 100%;
		bottom: calc(var(--bottom) - calc(var(--divider-weight) / 2));
		left: 0;
	}

	.zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--mobile2 .zyre-image-list-item:not(:nth-child(2n))::after,
	.zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--mobile3 .zyre-image-list-item:not(:nth-child(3n))::after,
	.zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--mobile4 .zyre-image-list-item:not(:nth-child(4n))::after,
	.zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--mobile5 .zyre-image-list-item:not(:nth-child(5n))::after,
	.zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--mobile6 .zyre-image-list-item:not(:nth-child(6n))::after,
	.zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--mobile2 .zyre-image-list-item:not(:nth-child(2n)) .zyre-image-list-item-content::after,
	.zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--mobile3 .zyre-image-list-item:not(:nth-child(3n)) .zyre-image-list-item-content::after,
	.zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--mobile4 .zyre-image-list-item:not(:nth-child(4n)) .zyre-image-list-item-content::after,
	.zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--mobile5 .zyre-image-list-item:not(:nth-child(5n)) .zyre-image-list-item-content::after,
	.zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--mobile6 .zyre-image-list-item:not(:nth-child(6n)) .zyre-image-list-item-content::after{
		border-left-style: var(--divider-style);
		border-left-width: var(--divider-weight);
		height: 100%;
		bottom: 0;
	}

	body:not(.rtl) .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--mobile2 .zyre-image-list-item:not(:nth-child(2n))::after,
	body:not(.rtl) .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--mobile3 .zyre-image-list-item:not(:nth-child(3n))::after,
	body:not(.rtl) .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--mobile4 .zyre-image-list-item:not(:nth-child(4n))::after,
	body:not(.rtl) .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--mobile5 .zyre-image-list-item:not(:nth-child(5n))::after,
	body:not(.rtl) .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--mobile6 .zyre-image-list-item:not(:nth-child(6n))::after,
	body:not(.rtl) .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--mobile2 .zyre-image-list-item:not(:nth-child(2n)) .zyre-image-list-item-content::after,
	body:not(.rtl) .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--mobile3 .zyre-image-list-item:not(:nth-child(3n)) .zyre-image-list-item-content::after,
	body:not(.rtl) .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--mobile4 .zyre-image-list-item:not(:nth-child(4n)) .zyre-image-list-item-content::after,
	body:not(.rtl) .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--mobile5 .zyre-image-list-item:not(:nth-child(5n)) .zyre-image-list-item-content::after,
	body:not(.rtl) .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--mobile6 .zyre-image-list-item:not(:nth-child(6n)) .zyre-image-list-item-content::after{
		right: calc(var(--right) - calc(var(--divider-weight) / 2));
	}

	body.rtl .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--mobile2 .zyre-image-list-item:not(:nth-child(2n))::after,
	body.rtl .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--mobile3 .zyre-image-list-item:not(:nth-child(3n))::after,
	body.rtl .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--mobile4 .zyre-image-list-item:not(:nth-child(4n))::after,
	body.rtl .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--mobile5 .zyre-image-list-item:not(:nth-child(5n))::after,
	body.rtl .zyre-image-list-divider--yes:not(.zyre-image-list-divider-to--content).zyre-image-list--col--mobile6 .zyre-image-list-item:not(:nth-child(6n))::after,
	body.rtl .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--mobile2 .zyre-image-list-item:not(:nth-child(2n)) .zyre-image-list-item-content::after,
	body.rtl .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--mobile3 .zyre-image-list-item:not(:nth-child(3n)) .zyre-image-list-item-content::after,
	body.rtl .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--mobile4 .zyre-image-list-item:not(:nth-child(4n)) .zyre-image-list-item-content::after,
	body.rtl .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--mobile5 .zyre-image-list-item:not(:nth-child(5n)) .zyre-image-list-item-content::after,
	body.rtl .zyre-image-list-divider--yes.zyre-image-list-divider-to--content.zyre-image-list--col--mobile6 .zyre-image-list-item:not(:nth-child(6n)) .zyre-image-list-item-content::after{
		left: calc(var(--right) - calc(var(--divider-weight) / 2));
	}
}